project_id     = "my-gcp-project"
project_number = "123456789012"
hub_account_id = "999888777666"

workloads = {
  "analytics-api" = {
    hub_role_name       = "111111111111-prod-analytics-api"
    gcp_sa_id           = "analytics-wif-sa"
    gcp_sa_display_name = "Analytics API (EKS via WIF)"
    gcp_roles           = ["roles/bigquery.dataViewer", "roles/bigquery.jobUser"]
  }
  "storage-sync" = {
    hub_role_name       = "111111111111-prod-storage-sync"
    gcp_sa_id           = "storage-sync-wif-sa"
    gcp_sa_display_name = "Storage Sync Service (EKS via WIF)"
    gcp_roles           = ["roles/storage.objectAdmin"]
  }
}
