.DS_Store
*.pyc
__pycache__/
.env
*.key
*.pem

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
